{erl_opts, [debug_info]}.
% {deps, [{opentelemetry_experimental, {git_subdir, "https://github.com/open-telemetry/opentelemetry-erlang.git", {branch, "main"}, "apps/opentelemetry_experimental"}},
% {opentelemetry_api_experimental, {git_subdir, "https://github.com/open-telemetry/opentelemetry-erlang.git", {branch, "main"}, "apps/opentelemetry_api_experimental"}},
% {opentelemetry_exporter, {git_subdir, "https://github.com/open-telemetry/opentelemetry-erlang.git", {branch, "main"}, "apps/opentelemetry_exporter"}}]}.

{deps, [
        {opentelemetry_api,
         {git_subdir, "https://github.com/open-telemetry/opentelemetry-erlang.git", {tag, "v1.4.0"}, "apps/opentelemetry_api"}},
        {opentelemetry_exporter, 
            {git_subdir, "https://github.com/open-telemetry/opentelemetry-erlang.git",  {tag, "v1.4.0"}, "apps/opentelemetry_exporter"}},
        {opentelemetry, 
            {git_subdir, "https://github.com/open-telemetry/opentelemetry-erlang.git",  {tag, "v1.4.0"}, "apps/opentelemetry"}},
        {opentelemetry_api_experimental,
         {git_subdir, "http://github.com/open-telemetry/opentelemetry-erlang",
        {tag, "v1.4.0"}, "apps/opentelemetry_api_experimental"}},
        {opentelemetry_experimental,
         {git_subdir, "http://github.com/open-telemetry/opentelemetry-erlang",
        {tag, "v1.4.0"}, "apps/opentelemetry_experimental"}}
       ]}.
{relx, [
    {release, {otel_getting_started, "0.1.0"}, [
        {opentelemetry, temporary},
        otel_getting_started,
        sasl
    ]},

    {mode, dev},

    %% automatically picked up if the files
    %% exist but can be set manually, which
    %% is required if the names aren't exactly
    %% sys.config and vm.args
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"}

    %% the .src form of the configuration files do
    %% not require setting RELX_REPLACE_OS_VARS
    %% {sys_config_src, "./config/sys.config.src"},
    %% {vm_args_src, "./config/vm.args.src"}
]}.

{profiles, [
    %% prod is the default mode when prod
    %% profile is used, so does not have
    %% to be explicitly included like this
    {prod, [
        {relx, [
            {mode, prod}

            %% use minimal mode to exclude ERTS
            %% {mode, minimal}
        ]}
    ]}
]}.
