[
  {otel_getting_started, []},
  {opentelemetry,[
    {span_processor, batch},
    {traces_exporter, otlp},
    {metrics_exporter, otlp}
  ]},
  {opentelemetry_experimental, [
      {otlp_protocol, http_protobuf},
      {otlp_endpoint, "http://localhost:4318"}
  ]},
  {
    opentelemetry_exporter,[
      {otlp_protocol, http_protobuf},
      {otlp_endpoint, "http://localhost:4318"}]
  }
].