[
  %{otel_getting_started, []},
  {opentelemetry,[
    {span_processor, batch},
    {traces_exporter, otlp}
  ]},
 {opentelemetry_experimental,
  [{readers, [#{module => otel_metric_reader,
                config => #{export_interval_ms => 1000,
                            exporter => {opentelemetry_exporter, #{}}}}]}]},

 {
  opentelemetry_exporter,[
    {ssl_options, [{verify, verify_none}]},
                          {otlp_protocol, http_protobuf},
                          {otlp_endpoint, "http://localhost:4318"}]
 },
 {kernel,
  [{logger_level, debug},
   {logger,
    [{handler, default, logger_std_h,
      #{formatter => {logger_formatter, #{}}}}]}]}
].